@import 'tasks_scheduler';

#top-menu .tasks-scheduler-alert {
  background-image: url('/images/warning.png');
  background-position: 0% 40%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  display: none;
}

#top-menu .alert_daemon_stopped,
#top-menu .alert_task_failed {
  display: initial;
}
